html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video{
        margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
        display:block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
        content: '';content: none;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li, 
pre, 
fieldset, lengend, button, input, textarea, 
th, td {
        margin: 0;
        padding: 0;
}
body,button, input, select, textarea { 
        font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; 
}

h1 {
        font-size: 18px;
}
h2 { 
        font-size: 16px; 
}
h3 {
        font-size: 14px; 
}
h4, h5, h6 {
        font-size: 100%;
}

address, cite, dfn, em, var {
        font-style: normal;
} 
code, kbd, pre, samp, tt {
        font-family: "Courier New", Courier, monospace;
}
small {
        font-size: 12px;
} 

ul, ol {
        list-style: none;
}

a {
        text-decoration: none;
}

abbr[title], acronym[title] {
        border-bottom: 1px dotted;
        cursor: help;
}

q:before, q:after {
        content: '';
}

legend {
        color: #000;
} 
fieldset, img {
        border: none;
}
button, input, select, textarea {
        font-size: 100%; 
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}
hr {
        border: none;
        height: 1px;
}
html {
        overflow-y: scroll;
}

table {
        border-collapse: collapse;border-spacing: 0;
}
a{
        text-decoration: none;
        color: #111;
}
a.underline{
        text-decoration: none !important;
}
small{
        display: none;
}
.hide{
        display: none;
}
.none{
        display: none !important;
}
.hidden{
        visibility: hidden;
}
.none_select,.nonselect{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
}

/*
::selection {
        background: #A33248;
        color: #FFF;
        text-shadow: none;
}
*/
.notransition{
        transition: none;
}