nav a.active {
    background: #8B2929;
    background:-moz-linear-gradient(top,#8B2929,#B23939) !important;
    background-image: -moz-linear-gradient(top, #8B2929, #B23939); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8B2929), color-stop(1, #B23939)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8B2929', endColorstr='#B23939', GradientType='0'); /* IE*/
}

div.ListIcon.active {
    border-color: #00bbec;
}

a.alink {
    color: #00bbec;
}
div.ListIcon.active div.ListIconItem h3 a{
        color: #00bbec;
}

div.ListIcon.active div.ListIconItem p{
        color: #00bbec;
}
input,select{
        background: #FFF;
}
.ui_tpicker_hour_slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
        border: 1px solid #848589 !important;
}
.ui-slider-handle.ui-state-default.ui-corner-all{
        border: 1px solid #848589 !important;
}
.ui_tpicker_minute_slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
        border: 1px solid #848589 !important;
}
.ui_tpicker_second_slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
        border: 1px solid #848589 !important;
}
.clickPage{
    background: #CCCCCC;
    text-align: center;
    font-weight: bold;
}