/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.center{
    text-align: center;
}
label.title{
    width: 100px;
    display: inline-block;
}
div.title{
    width: 100px;
    display: inline-block;
}
span.log{
    padding: 2px;
    padding-left: 15px;
    display: inline-block;
    margin: 1px;
    font-size: 12px;
    color: #FFF;

}
span.log:hover{
    opacity: .5;
    cursor: pointer;
}
span.log a{
    color: #FFF;
}
span.warn{
    background: #F9D17F;
}
span.error{
    background: #C00;
}
span.info{
    background: #df273f;
}
img.face{
    width: 25px;height: 25px;
}
div.lang{
    position: absolute;
    background: #DDD;
    right: 5px;
    padding: 4px 5px;
    border-radius:  0 0px 2px 2px;
    z-index: 0;
}
div.lang a{
    cursor: pointer;
}
div.lang a:hover{
    text-decoration: underline;
}
span.sep{
    padding: 0 2px;
}

a.link.dis,a.link.dis:hover{
    color: #CCC;
    cursor: not-allowed;
    text-decoration: none;
}
h1.title{
    font-size: 32px;
    margin: 15px 5px;
    margin-top: 0;
    padding-top: 25px;
    line-height: 20px;
}
h2.title{
    font-size: 20px;
    margin: 15px 0px;
}
h3.title{
    font-size: 16px;
    font-weight: bold;
    margin: 25px 0 20px 0;
}
nav{
    background: #a43838;
    margin: 10px 5px;
    /*padding: 0 10px;*/
}
nav a{
    display: inline-block;
    padding: 10px 15px;
    color: #111;

    padding: 10px 12px;
    font-weight: bold;
    color: #111;
    font-size: 13px;
}
nav a:hover{
    background: #F1F1F1;
}
nav a.active{
    background: #E1E1E1;
}
footer{
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin: 10px 5px;
    padding: 25px 0;
    border-top: 2px solid #BBB;
    background: #E1E1E1;
}
section.content{

    position: relative;
    margin: 10px 5px;
    padding: 10px 0;
}

em.red{
    color: #C00;
}
ul.list{
    margin: 10px 0;
}
ul.list   li{
    padding-top: 8px;
}

footer   p{
    line-height: 18px;
}
header{
    position: relative;
    padding-top: 15px;
    padding-bottom: 10px;
}
header div.phone{
    position: absolute;
    right: 5px;
    top: 30px;
}
header div.account{
    position: absolute;
    right: 10px;
    top: 21px;
}
header div.account img.face{
    width: 20px;height: 20px;
}
a.logout{
    margin-left: 10px;
    color: #C00;
    text-decoration: underline;
}
a.link.help{
    margin-left: 10px;
    color: #AAA;
}
div.toolbar{
    margin-bottom: 20px;
}
div.toolbar1{
    margin-bottom: 20px;
}
div.buttons{
}
form.form label{
    display: block;
    margin-bottom: 10px;
}
form.form label span{
    min-width: 140px;
    display: inline-block;
}
form.form label p.msg{
    display: inline-block;
    padding-left: 10px;
    color: #A1A1A1;
}
form.form label p.msg.error{
    color: #C00;
}
form.form input{
    width: 250px;
    padding: 5px 10px;
    border: 1px solid #A1A1A1;
    BACKGROUND-COLOR: transparent;
}
div.button{
    margin-top: 15px;
    margin-left: 140px;
}
p.info{
    margin-bottom: 10px;
}

table.base{
    border: 1px solid #111;

    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
}
table.full{
    width: 100%;
}
table.base th{
    padding: 0 5px;
    background: #AAA;
    word-break: keep-all;
    white-space: nowrap;
    vertical-align: middle;
}
div.page{
    height: 25px;
}

table.base td{
    border: 1px solid #bdbdbd;
    padding: 5px;
    word-break: break-all;
    word-wrap:break-word;
    font-size: 12px;
    /*
    word-wrap:break-word;
    white-space: nowrap;
    word-break: keep-all;
    */
}
a.link{
    color: #09F;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}
a.button{
    padding: 9px 5px;
    border: none;
    cursor: pointer;
    min-width: 120px;
    background: #DDD;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
a.button.right{
    margin-right: 0;
}
a.button:hover{
    color: #111;
    background: #A9A9A9;
}
a.button.active{
    color: #FFF;
    background: #666;
}
h2.title{
    font-size: 20px;
}
div.toptoolbar{
    text-align: right;
    position: absolute;
    right: 0px;
    top: 20px;
}
div.toptoolbar a.button{
    margin-right: 10px;
    margin-left: 10px;
}
div.toolbar div.line{
    display: inline-block;
}
div.toolbar div.line label,div.toolbar div.block label{
    display: inline-block;
    min-width: 70px;
}
div.toolbar div.line{
    margin-right: 15px;
    margin-bottom: 15px;
}
div.toolbar div.line input,div.toolbar div.block input{
    width: 130px;
    padding: 5px 10px 5px 20px;
    border: 1px solid #111;
    BACKGROUND-COLOR: transparent;
}
div.toolbar div.line select,div.toolbar div.block select{
    width: 150px;
    padding: 5px 10px;
    border: 1px solid #111;
}
div.page{
    margin: 10px 0;
    position: relative;
}
div.page a{
    cursor: pointer;
}
div.page div.turn{
    position: absolute;
    top: 0;
    right: 0;
}

form.base label.title,.form label.title{
    width: 160px;
    display: inline-block;
    margin-bottom: 10px;
}
form.base label.title1,.form label.title1{

}
div.title1{
    float: left;
    min-width:100px;
    width:auto;
    display: inline-block;
    margin: 5px;
}
div.info label.title{
    width: 190px;
    display: inline-block;
}
form.base div.line{
    display: inline;
}
form.base input[type="text"],form.base input[type="password"]{
    border: 1px solid #CCC;
    padding: 5px 10px;
    width: 220px;
}
form.base select{
    padding: 5px 10px;
    width: 245px;
}
form.base select.long{
    display: block;
    width: 100%;
}
.mrbt10 div.block{
    margin-bottom: 10px;
}
.lineheight25 div.block{
    line-height: 25px;
}

.mrbt20 div.block{
    margin-bottom: 20px;
}

form.base div.msg{
    display: inline;
}
form.base div.error{
    color: #C00;
}


div.mrtop40{
    margin-top: 40px;
    margin-right: 40px;
}
hr{
    border: none;
    border-top: 5px solid #EEE;
    margin-bottom: 15px;
}
a.button.normal{
    background: #09F;
    color: #FFF;
}
a.button.red{
    background: #C00;
    color: #FFF;
}
a.button.green{
    background: #090;
    color: #FFF;
}
a.button.purple{
    background: #3f2b56;
    color: #FFF;
}
div.info{
    padding: 10px 25px;
    margin-bottom: 15px;
    background: #df273f;
    color: #FFF;
}
div.notice_mask{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}
div.notice_mask.sync{
    height: 100%;
    background: #333;
    background: rgba(0,0,0,.5);
    text-align: left;
}

div.notice{
    margin-top: 10px;
    display: inline-block;
    background: #09F;
    padding: 15px 25px;
    color: #FFF;
    text-align: center;
}
.none_select,.nonselect{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}
#form label.error{
    font-size: 12px;
    color: #C00;
    margin-left: 10px;
}
.inline{
    display: inline;
}


.ui-corner-all{
    border-radius: 0 !important;
}
.ui-widget-header{
    border: none !important;
    background: #C00 ;
    color: #FFF !important;
    font-weight: normal !important;
}
.ui-widget-content{
    border: none !important;
}
.minipage{
    padding: 15px 25px;;
    min-height: 750px;
}
div.content{
    min-height: 400px;
}
div.content2{
    min-height: 400px;
}
div.content3{
    min-height: 400px;
}
div.content4{
    min-height: 400px;
}
div.content5{
    min-height: 400px;
}
div.content6{
    min-height: 400px;
}
div.content.loading{
    -webkit-transition:  none;
    background: url("img/common/729.gif") no-repeat center;
}
div.content2.loading{
    -webkit-transition:  none;
    background: url("img/common/729.gif") no-repeat center;
}
div.content3.loading{
    -webkit-transition:  none;
    background: url("img/common/729.gif") no-repeat center;
}
div.content4.loading{
    -webkit-transition:  none;
    background: url("img/common/729.gif") no-repeat center;
}
div.content5.loading{
    -webkit-transition:  none;
    background: url("img/common/729.gif") no-repeat center;
}
div.content6.loading{
    -webkit-transition:  none;
    background: url("img/common/729.gif") no-repeat center;
}
div.content.error{
    background: url("img/common/20140802023114338_easyicon_net_32.png") no-repeat center;
}
div.content2.error{
    background: url("img/common/20140802023114338_easyicon_net_32.png") no-repeat center;
}
div.content3.error{
    background: url("img/common/20140802023114338_easyicon_net_32.png") no-repeat center;
}
div.content4.error{
    background: url("img/common/20140802023114338_easyicon_net_32.png") no-repeat center;
}
div.content5.error{
    background: url("img/common/20140802023114338_easyicon_net_32.png") no-repeat center;
}
div.content6.error{
    background: url("img/common/20140802023114338_easyicon_net_32.png") no-repeat center;
}

div.tree div.title{
    font-size: 18px;
}
div.tree div.ul,div.tree div.li{
    cursor: pointer;
    margin: 10px 0;
    padding-left: 20px;
}
.auto_next_toggle{
    cursor: pointer;
}
form.base input[readonly]{
    cursor: not-allowed;
    color: #BBB;
    border: none;
    background-color: transparent;
}
form.base select[disabled]{
    cursor: not-allowed;
    color: #BBB;
}
div.line label.radiotext{
    min-width: 110px;
    display: inline-block;
}
.progress{
    width: 100%;
    padding: 5px;
}
.display_box{
    width: 100%;
    height: 320px;
}
.red{
    color: #C00;
}
a.small{
    padding: 5px 5px;
    min-width: 80px;
}
img.face{
    width: 48px;height: 48px;
    margin-right: 32px;
}
form.batch,form.move_user,form.move_u_default_pg{
    margin-top: 15px;
}

.mrlf5{
    margin-left: 5px;
}
.mrlf15{
    margin-left: 15px;
}
.minipage{
    position: relative;
}
.page.fixed{
    z-index: 9;
    position: relative;
    background: #19988b;
    color: #FFF;
    padding: 5px;
    top: 0;
    left: 0;
    margin: 0;
}
div.page.fixed a{
    color: #FFF;
}
div.page.fixed div.turn{
    top: 5px;
    right: 5px;
}
.center{
    text-align: center;
}
div[aria-describedby="dialog-confirm-warn"]{
    border: 1px solid #C00 !important;
}
div[aria-describedby="dialog-confirm-warn"] .ui-widget-header,div[aria-describedby="dialog-confirm-warn"] .ui-dialog-buttonset .ui-button{
    background: #C00 !important;
}

div.e_view div.ListIcon{
    width: 280px;
    cursor: pointer;
}
h2.title,div.info{
    clear: both;
}
div.info{
    margin-top: 15px;
}
div.info.big{
    font-size: 3.5em;
    padding: 1em;
}

button{
    margin: 5px;
    margin-left: 0;
}

/* -- modules block  --*/
.clear:after {
    height:0;
    content:".";
    clear:both;
    display:block;
    visibility:hidden;
}
div.ListIcon{
    display: inline-block;
    padding: 15px;
    float: left;
}
div.ListIcon:hover{
    background: #f8f8f8;
}

div.ListIcon div.Icon{
    display: inline-block;
    width: 64px;height: 64px;
    background: #df273f;
    position: absolute;
    /*
    -webkit-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
    */
}
div.ListIcon div.ListIconItem{
    margin-left: 80px;
    min-height: 64px;
    /*color: #AAA;*/
}
div.ListIcon div.ListIconItem h3{
    font-size: 18px;
    line-height: 26px;
}
div.ListIcon div.ListIconItem h3 a{
    /*color: #AAA;*/
}
div.ListIcon div.ListIconItem p{
    line-height: 18px;
}

div.ListIcon:hover div.Icon{
    -webkit-filter: grayscale(.5);
    -ms-filter: grayscale(.5);
    filter: grayscale(.5);
}
div.ListIcon.active{
    border: 4px solid #df273f;
    padding: 11px;
    /*background: url("img/common/2014081209040323_easyicon_net_46.353909465_1.png") no-repeat right top;*/
}
/*
div.ListIcon.active div.ListIconItem h3 a{
        color: #df273f;
}

div.ListIcon.active div.ListIconItem p{
        color: #df273f;
}
*/
div.ListIcon.active div.Icon{
    -webkit-filter: grayscale(0);
}
div.ListIcon div.icon1{
    background: url("img/icon/type2/1.png");
    background-size: 100%;
}
div.ListIcon div.icon2{
    background: url("img/icon/type2/3.png");
    background-size: 100%;
}
div.ListIcon div.icon3{
    background: url("img/icon/type2/2.png");
    background-size: 100%;
}
div.ListIcon div.icon4{
    background: url("img/icon/type2/4.png");
    background-size: 100%;
}
div.ListIcon div.icon5{
    background: url("img/icon/type2/5.png");
    background-size: 100%;
}
div.ListIcon div.icon6{
    background: url("img/icon/type2/6.png");
    background-size: 100%;
}
iframe[name=hidden_frame]{
    display: none;
}
hr.clear{
    clear: both;
    border: none;
}
a.black{
    background: none !important;
}
form.base input[type="text"].block{
    display: block;
    width: 100%;
}
label.block{
    display: block;
}
label.block span.title{
    width: 180px;
    display: inline-block;
    margin-bottom: 10px;

}

div.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;top: 0;
}
div.tips{
    position: fixed;
    top: 0;
    left: 0;
    background: #df273f;
    color: #FFF;
    width: 100%;
}
div.tips > *{
    padding: 0 15px;
}
div.tips div.toolbar{
    margin: 10px 0;
    text-align: right;
}
div.tips a.close{
    color: #FFF;
    background: #df273f;
    border: 2px solid #FFF;
}
div.tips a.close:hover{
    color: #df273f;
    background: #FFF;
    border: 2px solid #df273f;
}
div.quicktoolbar{
    background: #EFEFEF;
    position: absolute;
    right: 15px;
    z-index: 10;
    padding: 5px 8px;
    padding-bottom: 15px;
    top: -34px;
    cursor: pointer;
}
div.quicktoolbar:hover{
    top: 0;
    padding-bottom: 8px;
}
div.quicktoolbar input{
    width: 280px;
    padding: 5px;
    border: none;
}
div.quicktoolbar a.search{
    cursor: pointer;
    position: absolute;
    right: 0;
    display: inline-block;
    width: 36px;height: 32px;
    background: url("img/icon/20140910034203791_easyicon_net_23.6011080332.png") no-repeat 0px 4px;
}

a.link{
    color: #df273f;
    text-decoration: none;
}
a.link:hover{
    color: #fb3b4d;
    text-decoration: underline;
}
a.alink{
    color: #C00;
}
a.addmore{
    cursor: pointer;
    margin-top: 5px;
    display: inline;
    text-align: center;
    padding: 8px;
    float: right;
    color: #A93A3A;
}
a.addmore:hover{
    /*background: #ddd;*/
}
div.userinfo{
    position: relative;
    height: 100px;
}
div.userinfo > h2.title{
    margin: 0;
    top: 0;
    position: absolute;
    width: 100px;height: 100px;
    display: table-cell;
    background: #FFF center center no-repeat;
    color: #333333;
    border: 2px solid #797979;
    font-size: 20px;
    text-align: center;
    line-height: 4.3em;
}
div.userinfo > .uname,div.userinfo > .logininfo{
    position: absolute;
    left: 120px;
    top: 0;
}
div.userinfo > .logininfo{
    top: 10px;
}
div.userinfo > .admintype{
    position: absolute;
    left: 400px;
    top: 0;
    margin: 0;
}
ul.list li{
    padding: 0;
    padding-bottom: 10px;
}
div.anbbs h2{
    font-size: 18px;
    text-align: center;
    color: #ff0000;
    border: 1px solid #111;
    padding: 2px;
    margin: 10px 0;
}
div.newtable{
    min-height: 0;
    height: 250px;
    overflow: auto;
}
/*
a{
        transition: background  .5s ease-in;
}
*/
a.backgo{
    margin-right: 10px;
    display: inline-block;
    width: 32px;height: 32px;
    transition:  0.5s ease;
    transform: rotate(180deg);
    cursor: pointer;
}
a.backgo:hover{
    transform: rotate(360deg);
    opacity: .8;
}
.minipage{
    width: 100%;
    overflow: auto;
    padding: 0;
    min-height: 0;
}
.pagecontent{
    padding: 15px 25px;
}
footer{
    display: none;
}
div.toolbar div.line input[type=checkbox]{
    width: auto;
}
table td{
    vertical-align: middle;
}
div.block{
    margin: 10px 0;
}
div.table{
    display: table;
}
div.th{
    display: table-cell;
}
div.tr{
    display: table-row;
}
div.td{
    display: table-cell;
}
hr.hr{
    margin: 30px 0;
}

ul.user-right-list li{
    width:185px;
    text-align:left;
    padding: 10px 0px;
    border:1px solid #CDCDCD;
}
div.user-left{
    width:186px;
    /*border:1px solid #CDCDCD;*/
    float:left;
    background-color: #dadada;
    /*height:500px;*/
}
div.user-right{
    width:550px;
    /*border:1px solid #CDCDCD;*/
    /*height:500px;*/
    float:right;
}
div.groupcon{
    height: auto;
    background-color: #eeeeee;
}
.center{
    text-align: center;
}
.pagecontent{
    background: #FFF;
}
.white_content {
    display: none;
    position: fixed;
    top: 35%;
    left: 35%;
    width: 450px;
    height: 230px;
    border: 4px solid #A43838;
    background-color: white;
    z-index:1002;
    overflow: none;
}
.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    background: rgba(0,0,0,0.6);
    z-index:1001;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
}
#light .c_dir{
    color:#535353;
    font-weight:bold;
    height:30px;

    line-height:30px;
    padding-right: 10px;
    border-bottom:2px solid #ccc;
}
#light .block{
    margin:10px 0px 0px 20px;
}
input[name='button']{
    background: none repeat scroll 0 0 #848589;
    border: medium none;
    color: #fff;
    margin:-2px;
    width:125px;
    height:29px;
    cursor: pointer;
}

.content.news{
    line-height: 20px;
}

div.info{
    line-height: 1.5em;
    background: #ECECEC;
    color: #2F2F2F;
    padding: 10px;
}

a.eye_right{
    float: right;
}

.inputnothing{
    outline:none;
    border:none;
	background-color: transparent !important;
}
input.inputnothing.datepickerreport{
    border:1px solid #CCC;
	padding-left: 20px;
	width: 120px;
}
.inputfocs{
    outline:none;
    border: none;
    border-bottom: 1px solid #A43838;
    background-color: transparent;
}
.inputstyle{
    width:125px;
}

img.term_type{
    width:50px;
}
span.gradient_light{
    color: #666;
}
div.buttom{
    position:absolute; bottom:15px;
}
.set_gray{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    -webkit-filter: grayscale(1); 
    filter: grayscale(100%); 
    filter:url('./images/gray.svg#grayscale'); 
    filter:gray; 
}
.left{
    float:left;
    padding: 0px 10px;
    vertical-align:middle;
    line-height: 35px;
}
.right_nav{
    float:right;
    padding: 0px 10px;
    vertical-align:middle;
    line-height: 35px;
}

input.nothing{
    border: none;
    background-color: transparent !important;
	/*border-bottom: 1px solid #ccc;*/
	border:1px solid #CCC;
    height:24px;
}

div.active a{
    color:#A43838;
    font-weight: 900;
}

.charts_table{
    background: url('./images/table.png') no-repeat center;   
    height: 35px;
    width: 35px;
}
.charts_picture{
	background: url('./images/picture.png') no-repeat center;
	height: 35px;
    width: 35px;
}
.charts_table_hover{
	background: url('./images/table_hover.png') no-repeat center;
	height: 35px;
    width: 35px;
}
.charts_picture_hover{
	background: url('./images/picture_hover.png') no-repeat center;   
	height: 35px;
    width: 35px;
}

.piaochecked {
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
}
.checked {
    width: 50px;
    height: 20px;
    float: left;
    cursor: pointer;
    text-align: left;
    margin-top: 3px;
}
.background-com{
    background-image: url(images/checked_com.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.background-test{
    background-image: url(images/checked_test.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.background-none{
    background-image: url(images/checked_none.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.radioclass {
	opacity: 0;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

div.select_time input.datepickerreport{
    cursor: pointer;
}