@charset "UTF-8";
.none{
        display: none;
}
.info{
        font-size: 12px;
        line-height: 14px;
        color: #AAA;
}
body.p404 div.content{
        font-family: "微软雅黑",'Helvetica Neue', Helvetica, Arial, sans-serif;
        width: 800px;
        margin: 0 auto;
        padding-top: 120px;
}
div.content .message{
        color: #666;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
}
hr{
        border: none;
        border-top: 2px dotted #CCC;
}
div.toolbar{
        text-align: center;
        padding-top: 10px;
}
div.toolbar a{
        cursor: pointer;
        font-size: 14px;
        background: #00bbf1;
        color: #FFF;
        padding: 5px 15px;
        margin: 0 5px;
}
div.toolbar a:hover{
        background: #19cafd;
}
div.show{
        height: 220px;
        background: url("images/error1.png") no-repeat center;
}

div.show.pstyle1{
        background-image: url("images/error1.png");
}
div.show.pstyle2{
        background-image: url("images/error2.png");
}
div.show.pstyle3{
        background-image: url("images/error3.png");
}
div.show.pstyle4{
        background-image: url("images/error4.png");
}
div.show.pstyle5{
        background-image: url("images/error5.jpg");
}
div.show.pstyle6{
        background-image: url("images/error6.jpg");
}
div.show.pstyle7{
        background-image: url("images/error7.png");
}