
h1.title{
    background: no-repeat 10px 10px;
    background-image: url("images/GQT_icon_logo_1_en.png");
    padding-left: 140px;
    background-size: 120px auto;
    height: 50px;
    margin: 0 auto;
}
/*
html.lang_en_US h1.title{
        background-image: url("img/base/GQT_icon_logo_1_en.png");
}
*/
html{
    background: #FFF;
}
nav{
    background: #a43838;
    margin: 0;
    margin-bottom: 0px;
}
a.button.active{
    background: #555;
}
nav a{
    color: #FFF;
}
nav a.active{
    background: #00bbec;
}
nav a:hover{
    background: #444;
}
nav a.active:hover{
    background: #8B2929;
}
div.toolbar a.active:hover{
    opacity: .8;
}
@-webkit-keyframes boxshadow {
    from { box-shadow: 0px 5px 10px #555;  }
    75% { box-shadow: 0px 5px 2px #555;  }
    to { box-shadow: 0px 5px 10px #555;  }
}
section.content{
    /*background: #FFF;*/
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
}
footer{
    margin: 0;
    border: none;
    background: #EEE;
}
div.toolbar div.line input,div.toolbar div.line select,table.base tr,table.base td,div.toolbar div.block input{
    border-color: #555;
}
table.base th,div.notice,a.button.normal{
    background: #EEE;
    color: #111;
}
table.base tr:nth-child(3n+1){
    background: #f4f4f4;
}
table.base td,table.base tr,table.base th,table.base{
    border: none;
}
table.base{
    /*border-bottom: 1px solid #EEE;*/
}
a.link,div.page{
    color: #555;
}
div.page a{
    font-size: 12px;
    margin-left: 5px;
    color: #555;
}
div.page a.notallowed{
    color: #CCC;
    cursor: not-allowed;
}
a.button{
    background: #EEE;
}
header div.account{
    bottom: 5px;
    top: auto;
}
div.toolbar div.line{
    margin-top: 0;
}
.ui-state-default{
    border-color: #555;
    border-radius: 0;
    background: #FFF;
    color: #555;
}
.ui-state-active{
    border-color: #555;
    border-radius: 0;
    background: #555;
    color: #FFF;
}
a.orange{
    background: #00bbec;
    color: #FFF;
}
a.orange:hover{
    background: #17c6ee;
    color: #FFF;
}
.ui-datepicker-current-day,.ui-datepicker-current-day .ui-state-active,.ui-widget-header{
    background: #555;
    color: #FFF;
}
.ui-state-default{
    border: 1px solid #FFF;
    background: #FFF;
}
.ui-datepicker-today .ui-state-highlight{
    background: #FFF;
    border: 1px solid #555;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    background: #FFF;
    border: 1px solid #FFF;
}
.ui-state-active, .ui-widget-content .ui-state-active{
    border: 1px solid #555;
    background: #555;
}
.ui-datepicker-today .ui-state-highlight{
    border: 1px solid #555;
}
a.ui-state-hover{
    background: none !important;
    border: 1px solid #555 !important;
}
.ui-datepicker{
    /*border: 1px solid #555 !important;*/
}
.ui-dialog .ui-dialog-buttonpane button{
    background: #555;
    color: #FFF;
}
.ui-button{
    border: 1px solid #555;
}
.icon{
    text-align: right;
}
a.button.i1{
    background: url("img/common/20140807105401768_easyicon_net_24.0895522388.png") #555 5px 5px no-repeat;
}
@-webkit-keyframes greenPulse {
    from { background-color: #749a02;  }
    50% { background-color: #91bd09;  }
    to { background-color: #749a02;  }
}
a.green.button {
    /*
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    */
}
a.red.button{
    /*background: #c50f3c;*/
}
div.content.loading{
    background: url("img/common/728.gif") no-repeat center;
}
div.content.loading{
    background: url("img/common/72.gif") no-repeat center;
}
div.content.loading{
    background: url("img/common/301_1.gif") no-repeat center;
}

div#tree a.checkd, div#tree a.checkd:hover{
    background-color: #00bbec !important;
    color: #FFF;
}
div.toolbar div.line select{
    border: 1px solid #111;
    background: #FFF;
}
div.toolbar div.line select optin{
    background: #FFF;
}
div.toolbar div.line input, div.toolbar div.block input{
    border: none;
    border-bottom: 1px solid #111;
}
div.toolbar div.line input:focus, div.toolbar div.block input:focus{
    outline:  none;
}
a.simple-button{
    border-radius: 10px;
    border-top: solid 1px #cbcbcb;
    border-left: solid 1px #b7b7b7;
    border-right: solid 1px #b7b7b7;
    border-bottom: solid 1px #b3b3b3;
    color: #303030;
    font-weight: bold;
    display: block;
    float: left;
    margin-right: 14px;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    background: linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 );
    -webkit-box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    box-shadow: 0px 1px 5px #e8e8e8;
}
a.simple-button:hover{
    background: #E1E1E1;
}
div.notice_mask{
    text-align: center;
    width: 100%;
    display: inline-block;
    height: 0;
}
div.notice{
    width: 320px;height: 100px;
    text-align: left;
    padding: 10px;
    background: #FFF;
    border: 4px solid #666;
    color: #666;
    margin: 25px;
    margin-top: 115px;
    border-radius: 1px;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}
div.notice_content{
    -webkit-animation-duration: .25s;
    animation-duration: .25s;

    display: block;
    background: #555;
    height: auto;
    top: 150px;
    padding: 15px 0;
    font-size: 14px;
    position: relative;
    width: 100%;

    width: 1024px;
    display: inline-block;
}
div.notice{
    margin: 0;
    height: auto;
    display: block;
    background: none;
    color: #FFF;
    border: none;
    font-size: 18px;
    width: auto;
    padding: 0 15px;
    min-height: 75px;
    line-height: 1.4em;
}
div.notice_content div.toolbar{
    padding: 0 5px;
    margin: 0;
}
div.notice_content div.loading{
    display: block;
    padding: 10px 0;
}

div.sync.notice_mask div.notice_content div.notice{
    text-align: left;
    margin-bottom: 10px;
    word-break: break-all;
}
div.notice_mask.loading_mask  div.notice_content div.notice{
    text-align: center;
}
div.loading{
    height: 128px;
    background: url("img/common/301_1.gif") no-repeat center center #FFF;
}
div.sync.notice_mask div.notice_content div.loading{
    height: 64px;
    background: url("img/common/301w.gif") no-repeat center #00bbec;
}
div.notice_mask div.toolbar{
    text-align: right;
}
div.notice_mask div.toolbar a.button{
    border: 2px solid #FFF;
    background: #555;
    color: #FFF;
    padding: 7px 5px;
}
div.notice_mask div.toolbar a.button:hover{
    border-color: #555;
    background: #FFF;
    color: #555;
}
#tooltip{
    max-width: 240px !important;
    padding: 5px  !important;
    border: none !important;
    background: #00bbec !important;
    color: #FFF !important;
}
/*
.minipage{
    margin-right: 82px;
}
nav{
    padding: 0;
    width: 82px;
    position: fixed;
    right: 0;
}
*/
.mini_announcement_an_details{
    width: 800px;
    max-width: 800px;
    overflow: hidden;
}
.mini_announcement_an_details h1{
    font-size: 2.2em;
    line-height: 2em;
}
.mini_announcement_an_details p{
    font-size: 1.2em;
    line-height: 1.5em;
    text-indent: 2em;
}
em.required{
    color: #00bbec;
    margin: 0 5px;
    font-weight: bold;
}

table.base{
    background: #FFF;
}
table.base th{
    background: #BBB;
}
table.base tr{
    border: none;
    background: none;
}
table.base tr:hover{
    border: none;
}
table.base tr:nth-child(3n+1){
    background: #EEE;
}

table.base tr:hover{
    background: #EEE;
    color: #111;
}

html{
    background: #EEE;
}
body{
    font-family: Tahoma,"微软雅黑",'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 13px;
    margin: 0 auto;
    background: #FFF;
}
footer{
    background: #555;
}
a.button.normal{
    background: #00bbec;
    color: #FFF;
}
a.button.normal:hover{
    color: #FFF;
    background: #17c6ee;
}

a.link.blue,a.link{
    color: #00bbec;
}
div.notice_mask.sync{
    text-align: center;
}